<h1> RAG system without using DBs (only using OpenAI) - Customize gpt3.5 from wikipedia 2022 incidents

In [53]:
import openai
import requests
import tiktoken
import pandas as pd
from dateutil.parser import parse
from openai.embeddings_utils import get_embedding, distances_from_embeddings

openai.api_key = "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"

<h2> Chapter 1 - Inspecting the Non-Customized Model with 2 example questions

In [54]:
ukraine_prompt = """
Question: "When did Russia invade Ukraine?"
Answer:"""

twitter_prompt = """
Question: "Who owns Twitter?"
Answer:"""

example_prompts = [ukraine_prompt, twitter_prompt]

for example_question in example_prompts:
    answer = openai.Completion.create(model="gpt-3.5-turbo-instruct",
                                      prompt=example_question,
                                      max_tokens=150)
    
    print(example_question, answer["choices"][0]["text"].strip())
    print(' ')

Question: "When did Russia invade Ukraine?"
Answer: On February 22, 2014, Russian military forces began invading the Crimean peninsula of Ukraine.


Question: "Who owns Twitter?"
Answer: As of 2021, Twitter is a publicly traded company with no single owner. The company is owned by its shareholders, with co-founder and CEO Jack Dorsey holding the largest individual share.

> <h4> gpt-3.5 is trained upon 2021. This results in ambiguous or wrong-outdated answers

<h2> Chapter 2 - Access, preprocess, create embeddings for the wiki dataset

In [55]:
#import your wiki title page url
wikiURL = "https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exlimit=1&titles=2022&explaintext=1&formatversion=2&format=json"
wikiResponse = requests.get(wikiURL)


def convertWikiTitles_toDataFrame(response):
    """
    Extracts and preprocesses text content from a Wikipedia page.

    Parameters:
    - response (requests.Response): Response object from a Wikipedia API query.

    Returns:
    - pandas.DataFrame: DataFrame with a single column 'cleaned_text'
      containing the preprocessed text.
    """
    df = pd.DataFrame()
    df["text"] = wikiResponse.json()["query"]["pages"][0]["extract"].split("\n")
    df = df[(df["text"].str.len() > 0) & (~df["text"].str.startswith("=="))]
    
    # reformat of cells needed because dates sometimes go as headers of the event
    prefix = ""
    for i, row in df.iterrows():
        if " – " not in row["text"]:
            try:
                parse(row["text"])
                prefix = row["text"]
            except:
                row["text"] = prefix + " – " + row["text"]
    df = df[df["text"].str.contains(" – ")]
    return df.reset_index(drop=True)
    
df = convertWikiTitles_toDataFrame(wikiResponse)

In [57]:
embeddingModel = "text-embedding-ada-002"
batch_size = 100
embeddings = []
for chunk in range(0, df.shape[0], batch_size):
    response = openai.Embedding.create(input=df.iloc[chunk:chunk+batch_size]["text"].tolist(),
                                       engine=embeddingModel)
    
    embeddings.extend([data["embedding"] for data in response["data"]])

df["embeddings"] = embeddings
df

,text,embeddings
0,– 2022 (MMXXII) was a common year starting on...,"[8.86711131897755e-05, -0.018001560121774673, ..."
1,– The year saw the removal of nearly all COVI...,"[-0.009842227213084698, -0.021562999114394188,..."
2,– 2022 was also dominated by wars and armed c...,"[-0.009618517011404037, -0.015259700827300549,..."
3,January 1 – The Regional Comprehensive Econom...,"[-0.0005963737494312227, -0.024176515638828278..."
4,January 2 – Abdalla Hamdok resigns as Prime Mi...,"[-0.015023498795926571, 0.0012224462116137147,..."
...,...,...
178,December 21–December 26 – A major winter storm...,"[-0.024856366217136383, -0.023884402588009834,..."
179,December 24 – 2022 Fijian general election: Th...,"[-0.01161688007414341, -0.009321790188550949, ..."
180,December 29 – Brazilian football legend Pelé d...,"[-0.007544266525655985, 0.004090456757694483, ..."
181,December 31 – Former Pope Benedict XVI dies at...,"[0.023651951923966408, 0.0077328672632575035, ..."
182,December 7 – The world population was estimate...,"[-0.0015918044373393059, -0.015213372185826302..."

In [38]:
df.to_csv("embeddings.csv")

In [44]:
# import numpy as np
# import pandas as pd
# import openai
# openai.api_key = ""
# df = pd.read_csv("embeddings.csv", index_col=0)
# df["embeddings"] = df["embeddings"].apply(eval).apply(np.array)

<h2> Chapter 3 - Semantic Search

In [58]:
def sort_by_relevance(question, df):
    """
    Function that takes in a question string and a dataframe containing
    rows of text and associated embeddings, and returns that dataframe
    sorted from least to most relevant for that question
    """
    
    # Get embeddings for the question text
    question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)
    similarity_df = df.copy()
    similarity_df["similarity"] = distances_from_embeddings(question_embeddings, 
                                                         similarity_df["embeddings"].values,
                                                         distance_metric="cosine"
                                                         )
    
    
    return similarity_df.sort_values("similarity", ascending=True, inplace=True)

In [59]:
get_rows_sorted_by_relevance("When did Russia invade Ukraine?", df)

,text,embeddings,distances
34,March 2 – Russian invasion of Ukraine: Russia ...,"[0.0007707776385359466, -0.01842544414103031, ...",0.109227
56,April 3 – Russian invasion of Ukraine: As Russ...,"[-0.012191026471555233, -0.012353314086794853,...",0.111452
162,November 11 – Russian invasion of Ukraine: Ukr...,"[-0.012295376509428024, -0.013938129879534245,...",0.115488
134,September 21 – Russian invasion of Ukraine: Fo...,"[-0.025647887960076332, -0.022058716043829918,...",0.116803
154,October 29 – Russian invasion of Ukraine: In r...,"[-0.009947693906724453, -0.03036254271864891, ...",0.117849
...,...,...,...
55,March 31 – Expo 2020 closes in Dubai after a 6...,"[-0.0032144421711564064, -0.046534109860658646...",0.292118
181,December 31 – Former Pope Benedict XVI dies at...,"[0.023651951923966408, 0.0077328672632575035, ...",0.293276
161,"November 11 – The cryptocurrency exchange FTX,...","[0.0024479480925947428, -0.025384658947587013,...",0.294175
169,November 20 – 2022 Nepalese general election: ...,"[-0.004253641702234745, -0.0007313461974263191...",0.295498
58,April 4 – The Intergovernmental Panel on Clima...,"[-0.01048691663891077, -0.016473010182380676, ...",0.298615

<h2> Chapter 4 - Create prompts

In [64]:
def create_prompt(question, df, max_token_count):
    """
    Given a question and a DataFrame containing rows of text and their embeddings,
    return a text prompt to send to the foundation model.

    Parameters:
        - question: A string representing the question.
        - dataframe: A pandas DataFrame containing rows of text and their embeddings.

    Returns:
        A text prompt formatted for sending to the foundation model.
    """
    # openAI tokenizer
    tokenizer = tiktoken.get_encoding("cl100k_base")
    

    prompt_template = """
Answer the question based on the given context below. 
If the question can't be answered based on the context, reply with "I don't know"

Context: 

{}

---

Question: {}
Answer:"""
    
    # Count tokens for prompt + question and then return an answer exploiting the max_token_count parameter set.
    current_token_count = len(tokenizer.encode(prompt_template)) + \
                            len(tokenizer.encode(question))
    
    context = []
    for text in get_rows_sorted_by_relevance(question, df)["text"].values:
        
        # Increase the counter based on the number of tokens in this row
        text_token_count = len(tokenizer.encode(text))
        current_token_count += text_token_count
        
        # Add the row of text to the list if we haven't exceeded the max
        if current_token_count <= max_token_count:
            context.append(text)
        else:
            break

    return prompt_template.format("\n\n###\n\n".join(context), question)

In [65]:
print(create_prompt("When did Russia invade Ukraine?", df, 200))

Answer the question based on the given context below.
If the question can't be answered based on the context, reply with "I don't know"

Context:

March 2 – Russian invasion of Ukraine: Russia captures its first large city, the Black Sea port of Kherson, as shelling intensifies across many parts of Ukraine, including civilian areas.

###

April 3 – Russian invasion of Ukraine: As Russia's forces retreat from areas near Kyiv, it is accused by Ukraine of war crimes, amid mounting evidence of indiscriminate civilian killings, including the Bucha massacre.

###

November 11 – Russian invasion of Ukraine: Ukrainian forces recapture Kherson, the only regional capital to be taken by Russia since the start of the war.

---

Question: When did Russia invade Ukraine?
Answer:

<h2> Chapter 5 - Create a function than answers questions

In [69]:
model = "gpt-3.5-turbo-instruct"

def answer_question(
    question, df, model, max_prompt_tokens=1800, max_answer_tokens=150
):
    """
    Given a question, a dataframe containing rows of text, and a maximum
    number of desired tokens in the prompt and response, return the
    answer to the question according to an OpenAI Completion model
    
    If the model produces an error, return an empty string
    """
    
    prompt = create_prompt(question, df, max_prompt_tokens)
    
    try:
        response = openai.Completion.create(
            model=model,
            prompt=prompt,
            max_tokens=max_answer_tokens
        )
        return response["choices"][0]["text"].strip()
    except Exception as e:
        print(e)
        return ""

Now that we have all of the code complete, let's test it out!

In [70]:
model = "gpt-3.5-turbo-instruct"
custom_ukraine_answer = answer_question("When did Russia invade Ukraine?", df, model)
print(custom_ukraine_answer)

There were multiple dates listed in the context, including March 2, April 3, November 11, September 21, October 29, May 16, October 8, February 21-24, February 28, March 1, March 9, March 16, April 8, April 18, September 30, February 27, February 27, March 24, April 14, February 26, and March 2. Therefore, Russia invaded Ukraine on multiple dates between March 2, 2022 and April 18, 2022.

In [72]:
custom_twitter_answer = answer_question("Who owns Twitter?", df, model)
print(custom_twitter_answer)

Elon Musk.

Below we compare answers with and without our custom prompt:

In [73]:
print(f"""
When did Russia invade Ukraine?

Original Answer: {initial_ukraine_answer}
Custom Answer:   {custom_ukraine_answer}

Who owns Twitter?
Original Answer: {initial_twitter_answer}
Custom Answer:   {custom_twitter_answer}
""")

When did Russia invade Ukraine?

Original Answer: Russia first invaded Ukraine in February 2014, when Russian soldiers took control of Crimea, a region in southern Ukraine. This was followed by further military incursions into eastern Ukraine throughout 2014, leading to ongoing conflict between the two countries.
Custom Answer:   There were multiple dates listed in the context, including March 2, April 3, November 11, September 21, October 29, May 16, October 8, February 21-24, February 28, March 1, March 9, March 16, April 8, April 18, September 30, February 27, February 27, March 24, April 14, February 26, and March 2. Therefore, Russia invaded Ukraine on multiple dates between March 2, 2022 and April 18, 2022.

Who owns Twitter?
Original Answer: As of October 2021, Twitter is owned by its shareholders as a publicly traded company on the New York Stock Exchange. Some of its largest shareholders include BlackRock, Vanguard, and Morgan Stanley. The company's CEO, Jack Dorsey, also owns a significant portion of the company's stock.
Custom Answer:   Elon Musk.